@import "tailwindcss";

.root {
  isolation: isolate;
}

body {
  background-color: #0f0f0f;
  color: #e0e0e0;
  position: relative;
}

@layer utilities {
  .custom-shadow {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
}

.Scrollbar {
  display: flex;
  justify-content: center;
  background-color: var(--color-gray-500);
  width: 0.25rem;
  border-radius: 0.375rem;
  margin: 0.5rem;
  opacity: 0;
  transition: opacity 150ms;
  pointer-events: none;

  &[data-scrolling] {
    transition-duration: 0ms;
  }

  &[data-hovering],
  &[data-scrolling] {
    opacity: 1;
    pointer-events: auto;
  }

  &::before {
    content: "";
    position: absolute;
    width: 1.25rem;
    height: 100%;
  }
}

.Thumb {
  width: 100%;
  border-radius: inherit;
  background-color: var(--color-gray-200);
}
